* {
    margin: 0;
    padding: 0;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, em, font, strong, sub, sup, ol, ul, li, fieldset, form, label, table, tr, th, td {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    color:#212121;
}
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Buttons */

.btn {
    width: 220px;
    height: 70px;
    color: #ffffff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
}
.btn.btn-white {
    width: 214px;
    height: 64px;
    border: 3px solid #f8f8f8;
    margin-right: 25px;
}
.btn.btn-green {
    background-color: #00897b;
}
.btn.btn-black {
    border: 2px solid #000;
}
.btn:hover {
    background: #212121;
}

/* Header */

.main-header {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-navigation {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.main-navigation ul  {
    display: flex;
    align-items: center;
    list-style: none;
}
.main-navigation li {
    margin-right: 40px;
}
.main-navigation a {
    text-decoration: none;
    color: #212121;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
}
.main-navigation a:hover:not(.search) {
    padding-bottom: 3px;
    border-bottom: 2px solid #212121;
}
.menu-responsive {
    font-size: 32px;
    color:#212121;
    text-decoration: none;
}
.search {
    color:#212121;
}
.search-block {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    box-sizing: border-box;
    padding: 10px 20px;
    top: 157px;
    left: 50%;
    width: 100%;    
    height: 75px;
    background: #212121;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    transition: .3s;
    z-index: 1;
}
.search-block input {
    max-width: 1170px;
    outline:none;
    border-radius: 10px;
    padding: 5px 20px;
    width: 100%;
    border: 0;
    font-size: 20px;
    font-weight: 600;
}

/* Main Banner */

.main-banner-w {
    background: url("../images/main-banner.jpg") no-repeat center top;
    background-size: cover;
    width: 100%;
    min-height: 659px;
    display: flex;
    justify-content: center;
}
.main-banner-content {
    padding-top: 182px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:#fff;
}

.main-banner-content h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 26px;
}
.main-banner-content p {
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 1.1px;
}
.main-banner-content-buttons {
    display: flex;
    padding-top: 108px;
}

/* About us */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 125px;
    padding-bottom: 125px;
}
.about h2 {
    font-size: 30px;
    font-weight: 700;    
    letter-spacing: 1.5px;
    margin-bottom: 36px;
}
.about .about-text {
    max-width: 620px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    
}
.about-blocks {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding-top: 120px;
}
.about-block {
    width: 274px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    padding: 0 10px;
}
.about-block-icon {
    margin-bottom: 40px;
}
.about-block h3 {
    font-size: 20px;
    font-weight: 600;    
    letter-spacing: 1px;
}
.about-block p {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;    
    letter-spacing: 0.75px;
}

/* Service */

.service-w {
    width: 100%;
    min-height: 1414px;
    background: #e4fdf9;
}
.service {
    padding-top: 125px;
    padding-bottom: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.service-title {
    font-size: 30px;
    font-weight: 700;    
    letter-spacing: 1.5px;
}
.service-text {
    padding-top: 36px;
    max-width: 620px;
    font-size: 15px;
    font-weight: 400;
    
}
.service-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 112px;
}
.service-block {
    width: 340px;
    min-height: 438px;
    box-sizing: border-box;
    padding: 0 15px;
    margin-bottom: 31px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}
.service-block:hover {
    background: #00897b;
    color:#fff;
}
.service-block:hover .service-block-icon {
    background: url("../images/service-icon-hover.png") no-repeat center;
}
.service-block:hover .service-button {
    border: 2px solid #fff;
    color:#fff;
}
.service-block-icon {
    background: url("../images/service-icon.png") no-repeat center;
    width: 56px;
    height: 62px;
    margin-top: 58px;
}
.service-block h3 {
    font-size: 20px;
    font-weight: 400;    
    letter-spacing: 1px;
    margin-top: 40px;
}
.service-block p {
    margin-top: 20px;
    max-width: 271px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.75px;
}
.service-button {
    width: 150px;
    height: 56px;
    margin-top: 44px;
    margin-bottom: 44px;
    border: 2px solid #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:#212121;
    text-decoration: none;
    font-weight: 400;    
    text-transform: uppercase;
    letter-spacing: 1px;
    transition:0.3s;
}
.service-button:hover {
    background: #212121;
}

/* Works */

.works {
    padding-top: 125px;
    padding-bottom: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.works-title {
    font-size: 30px;
    font-weight: 700;    
    letter-spacing: 1.5px;
}
.works-text {
    padding-top: 36px;
    max-width: 620px;
    font-size: 15px;
    font-weight: 400;    
    letter-spacing: 0.75px;
}
.works-button {
    padding-top: 112px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 179px;
    height: 55px;
    border: 2px solid #00897b;
    font-size: 20px;
    font-weight: 600;    
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.work-btn:hover {
    background: #212121;
    color: #fff;
}
.work-btn:last-child {
    margin-right: 0;
}
.work-btn:nth-child(1) {
    width: 100px;
    height: 55px;
}
.work-btn-active {
    color:#fff;
    background: #00897b;
}
.works-block {
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.works-item {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    position: relative;
}
.works-item p {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-weight: 600;    
    letter-spacing: 1px;
    color:#fff;
    transition: 0.3s;
}
.works-item p span {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;    
    letter-spacing: 0.75px;
}
.works-item:hover .works-tooltip  {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
.btn-work-view {
    margin-top: 100px;
}

/* Pricing */

.pricing-w {
    width: 100%;
    background: #f0f0f0;
}
.pricing {
    padding-top: 125px;
    padding-bottom: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pricing-title {
    font-size: 30px;
    font-weight: 700;    
    letter-spacing: 1.5px;
}
.pricing-text {
    max-width: 620px;
    padding-top: 30px;
    font-size: 15px;
    font-weight: 400;    
    letter-spacing: 0.75px;
}
.pricing-blocks {
    width: 100%;
    padding-top: 125px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.pricing-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    min-height: 667px;
    background-color: #ffffff;
    transition: 0.3s;
    margin-bottom: 30px;
}
.pricing-block:hover {
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
}
.pricing-block-name {
    background: #3949ab;
    background: url("../images/pricing-block-bg.png") no-repeat center top;
    width: 100%;
    height: 209px;
    display: flex;
    flex-direction: column;
}
.pb-name {
    padding-top: 50px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;    
    letter-spacing: 1.25px;
}
.pb-price {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 2.5px;
}
.pb-price sup {
    align-self: flex-start;
    font-size: 25px;
    font-weight: 400;    
    letter-spacing: 1.25px;
    margin-top: 18px;
    margin-right: 5px;
}
.pb-price sub {
    align-self: flex-end;
    font-size: 17px;
    font-weight: 400;    
    letter-spacing: 0.85px;
    margin-bottom: 8px;
    margin-left: 5px;
}
.pricing-block-advantage {
    padding-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing-block-advantage li {
    width: 178px;
    padding-top: 35px;
    padding-bottom: 12px;
    border-bottom: 1px solid #bfbfbf;
    font-size: 17px;
    font-weight: 300;    
    letter-spacing: 0.85px;
}
.btn-pricing {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 176px;
    height: 56px;
    border: 2px solid #000000;
    color: #212121;
    font-size: 20px;
    font-weight: 400;    
    letter-spacing: 1px;
}
.btn-pricing:hover {
    border: 2px solid #00897b;
    background: #00897b;
    color:#fff;
}

/* Members */

.members {
    padding-top: 125px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.members-title {
    font-size: 30px;
    font-weight: 700;    
    letter-spacing: 1.5px;
}
.members-text {
    max-width: 620px;
    margin-top: 35px;
    font-size: 15px;
    font-weight: 400;    
    letter-spacing: 0.75px;
}
.members-blocks {
    width: 100%;
    padding-top: 125px;
    display: flex;
}
.members-block {
    width: 370px;
    height: 485px;
    margin-right: 30px;
}
.m-title {
    padding-top: 30px;
    font-size: 20px;
    font-weight: 600;    
    letter-spacing: 1px;
}
.m-position {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;    
    letter-spacing: 0.75px;
}
.m-social {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.m-social a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #f0f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 26px;
    color: #00897b;
    margin-right: 25px;
    transition: 0.3s;
}
.m-social a:last-child {
    margin-right: 0;
}
.m-social a:hover {
    background: #3949ab;
    color:#fff;
}
.slick-dots {
    bottom:-150px;
}
.slick-dots li button:before {
    font-size: 75px;
    color: #00897b;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dots li.slick-active button:before {
    color: #3949ab;
    opacity: 1;
}

/* Blog */

.blog-w {
    width: 100%;
    background: #e4fdf9;
}
.blog {
    padding-top: 125px;
    padding-bottom: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blog-title {
    font-size: 30px;
    font-weight: 700;    
    letter-spacing: 1.5px;
}
.blog-text {
    padding-top: 30px;
    max-width: 620px;
    font-size: 15px;
    font-weight: 400;    
    letter-spacing: 0.75px;
}
.blog-posts {
    width: 100%;
    padding-top: 125px;
    display: flex;
    flex-direction: column;
}
.blog-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bp-img {
    width: 570px;
    height: 400px;
}
.bp-news {
    display: flex;
    flex-direction: column;
    width: 570px;
    padding-top: 60px;
    text-align: left;
}
.bp-news-title a {
    color: #212121;
    font-size: 25px;
    font-weight: 600;    
    letter-spacing: 1.25px;
    text-decoration: none;
}
.bp-news-title a:hover {
    color: #00897b;
}
.bp-news-info {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 600;    
    letter-spacing: 0.85px;
}
.bp-news-information {
    display: flex;
    flex-direction: row;
}
.bp-news-info-date {
    margin-right: 40px;
}
.bp-news-info-date i, .bp-news-info-category i {
    margin-right: 15px;
}
.bp-news-info-text {
    width: 448px;
    padding-top: 28px;
    font-size: 15px;
    font-weight: 400;    
    letter-spacing: 0.75px;
}
.blog-post:nth-child(2n) .bp-img {
    order:2;
}
.blog .btn {
    margin: 125px 0 0;
}

/* Contact */

.contacts-w {
    width: 100%;
    min-height: 1254px;
    background: #212121;
    background: url("../images/contact-bg.jpg") no-repeat center top;
    background-size: cover;
}
.contacts {
    padding-top: 125px;
    padding-bottom: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contacts-title {
    color:#fff;
    font-size: 30px;
    font-weight: 700;    
    letter-spacing: 1.5px;
}
.contacts-text {
    max-width: 620px;
    padding-top: 40px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;    
    letter-spacing: 0.75px;
}
.contacts-info-blocks {
    width: 100%;
    padding-top: 100px;
    padding-left:100px;
    padding-right: 100px;
    box-sizing:border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-info-block {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-info-block p {
    padding-top: 40px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
}
.contact-info-block-img {
    width: 106px;
    height: 106px;
    background-color: #3949ab;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info-block-img .map {
    display: block;
    background: url("../images/map.png") no-repeat;
    width: 44px;
    height: 62px;
}
.contact-info-block-img .phone {
    display: block;
    background: url("../images/phone.png") no-repeat;
    width: 62px;
    height: 62px;
}
.contact-info-block-img .mail {
    display: block;
    background: url("../images/mail.png") no-repeat;
    width: 62px;
    height: 44px;
}
.contact-form {
    width: 100%;
    padding-top: 80px;
    padding-left:70px;
    padding-right: 70px;
    box-sizing:border-box;
}
.contact-form form {
    box-sizing:border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-form label {
    width: 100%;
}
.contact-form input {
    width: 500px;
    height: 84px;
    padding: 35px 20px;
    outline: none;
    box-sizing: border-box;
    border: 0;
    border-radius: 10px;
    background-color: #ffffff;
    color: #212121;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
}
.contact-form textarea {
    margin-top: 30px;
    width: 1031px;
    height: 323px;
    border: 0;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    outline: none;
    color: #212121;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
    resize: none;
}
.contact-form .contact-button {
    margin-top: 40px;
    width: 220px;
    height: 70px;
    border: 0;
    border-radius: 10px;
    background-color: #ffffff;
    color: #212121;
    font-size: 20px;
    font-weight: 700;    
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    margin-left: auto;
}
.contact-form .contact-button:hover {
    cursor: pointer;
    background: #00897b;
    color:#fff;
}
.main-footer {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #212121;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;    
    letter-spacing: 1px;
}











